
.home-service-box-text {
  text-align: start;
  color: #fff;
}

.home-service-box-text h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 11px;
  text-transform: uppercase;
  font-family: 'poppins', sans-serif;
  color: #d2d2d2;
}

.home-service-box-text p {
  margin: 0;
  font-family: 'poppins', sans-serif;
  margin-top: 11px;
  color: #858585;
}
.home-service-box-text h3 {
  margin: 0;
  margin-top: 17px;
  font-family: 'poppins', sans-serif;
  color: #c8c8c8;
}

.home-service-box-image img {
  width: 100%;
  border-radius: 0px 30px 0px 30px;
}

.home-services {
  padding: 90px 0;
  font-family: 'poppins', sans-serif;

}

.home-service-box-image {
  border-radius: 10px;
  /* padding: 15px 30px; */
  height: 176px;
}

.price-and-btn{
  display: flex;
  align-items:center;
  justify-content: space-between;

}
.price-and-btn a {
  text-decoration: none;
  text-transform: capitalize;
  color: #f238018a;
  margin-top: 18px;
  padding-right: 10px;
}
.price-and-btn h3 {
  color: #858585;
  font-size: 20px;
}

.home-service-all-content {
  padding-top: 46px;
}



@media (max-width:768px) {
  
.home-service-box-image {
  background: none;
  border-radius: 10px;
  padding: 0;
}
.home-service-box-text p {
  font-size: 13px;
}
.home-services {
  margin-top: 0px;
}
.home-service-all-content {
  padding-top: 35px;
}

.home-service-box-text h2 { 
  margin-bottom: 0px;
  font-size: 15px;
}
.home-service-box-text p {
  margin-top: 8px;
}
.Home-service-box {
  margin-bottom: 38px;
}

.price-and-btn a {
  font-size: 14px;
  font-weight: 600;
}
.price-and-btn h3 {
  font-size: 15px;
}


}







