.Feature-card img {
  width: 100%;
  border-radius: 20px 0px 20px 0px;
}

.Feature-card-text {
  color: #fff;
}

.Feature-card-text h2 {
  font-family: 'Poppins', sans-serif;
  color: #e2dfdf;
  line-height: 27px;
  margin: 0;
  font-size: 18px;
}

.Feature-card-text p {
  margin: 0;
  margin-top: 9px;
  color: #a5a5a5;
  margin-bottom: 18px;
  line-height: 22px;
}
.Feature-card-text {
  margin-top: 19px;
}
.Feature-card-text button {
  background: transparent;
  color: #eb3f0b;
  font-weight: 400;
  border: 0;
  font-size: 16px;
  padding: 0;
  outline: none;
}
.Features-section {
  background-color: black;
  padding-bottom: 80px;
  padding-top: 50px;
}
.Feature-card a{
  text-decoration: none;
}

