.navBtn{
font-family: 'Poppins' !important;
font-weight: 500 !important;
/* font-size: 15px !important; */
color: #e4e2deef !important;
}

.navBtn-logout{
font-family: 'Poppins' !important;
font-weight: 500 !important;
/* font-size: 15px !important; */
color: rgba(230, 38, 24, 0.952) !important;
}

.logo-style{
  /* font-family: 'Poppins', sans-serif; */
  background: -webkit-linear-gradient(rgba(250, 75, 32, 0.87), rgb(218, 165, 21));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app_bar{
  background-color: rgb(15, 15, 14) !important;
}